@font-face {
    font-family: "Poppinslocal";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "PoponsLocal";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

header{
    background-color: #ffff;
    height: 55px;
    display: flex;
    padding: 0 16px;
}
.img-logo{
    height: 32px;
    width: auto;
    display: block;
    object-fit: contain;
}
.lef-img{
    display: flex;
    align-items: center;
}
/* img{
    display: block;
    width: 40dvb;
    height: 40dvb;
    object-fit: contain;
} */